# Uncomment to enable Azure Monitor OpenTelemetry
# Ref: aka.ms/functions-azure-monitor-python
# azure-monitor-opentelemetry

azure-functions
openai
python-dotenv
numpy
chromadb
pandas
streamlit
folium
streamlit-folium
pysqlite3-binary